@tailwind base;
@tailwind components;
@tailwind utilities;

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 75px; /* Adjust as needed */
  left: 80px; /* Adjust as needed */
  height: 85%;
  width: 79%;
  background-color: #4f80ff; /* Replace with your desired color */
  z-index: -1;
}
