@tailwind base;
@tailwind components;
@tailwind utilities;

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 80px; /* Adjust as needed */
  left: 80px; /* Adjust as needed */
  width: 70%;
  height: 57%;
  background-color: #4F80FF
  ; /* Replace with your desired color */
  z-index: -1;
}
