# Ignore node_modules
node_modules/

# Ignore log files
logs/
*.log

# Ignore environment variables file
.env

# Ignore the images folder
server/src/images

#ignore Python virtual environment
nova-mind/venv

# Ignore database files
nova-mind/chroma_db

#ignore Python cache files
nova-mind/app/__pycache__