# Environment Configuration
NODE_ENV=development
PORT=4000
HOST=0.0.0.0

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=blogapp

# JWT Configuration
JWT_SECRET=nRtdxIt1QgT9VHjftlSvfbFYl55EZit1
TOKEN_EXPIRY=24h

# Email Configuration
EMAIL_USER=riprogressmedia@gmail.com
EMAIL_PASSWORD=vkkf wfhn mmsw qylh
